/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  padding: 0;
  margin: 0;
  font: inherit;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a, p, li, h2, h3 {
  font-family: "Roboto", Helvetica, sans-serif;
}

.title_rest {
  font-family: "Shrikhand", cursive;
}

@keyframes appearance01 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearance02 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  40% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearance03 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes check {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 80px;
  }
}
@keyframes card {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% - 80px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
    z-index: 600;
  }
  100% {
    transform: scale(1.1);
    z-index: 600;
  }
}
#spinner {
  border: 10px #f3f3f3;
  width: 100px;
  height: 100px;
  border-bottom: 10px solid #9356dc;
  border-top: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #9c6ddc;
  border-radius: 50%;
  -webkit-animation: spin 3s linear;
  -o-animation: spin 3s linear;
  animation: spin 3s linear;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes backgroundspin {
  0% {
    opacity: 1;
    z-index: 99999;
  }
  99% {
    opacity: 0.3;
    z-index: 99999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header a {
  height: 50px;
  color: #000;
  margin: 0;
  text-align: center;
  text-decoration: none;
}
.header h1 {
  margin: 0;
}

address {
  display: flex;
  text-align: center;
  background-color: #eaeaea;
  width: 100%;
  height: 50px;
  box-shadow: inset 0 3px 4px 0 lightgray;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
address .marker {
  width: 40px;
}

.reservation {
  background-color: #f6f6f6;
  min-height: 250px;
  display: grid;
  grid-template-rows: 130px 50px 130px;
  color: #7e7e7e;
}
.reservation p {
  place-self: center;
  text-align: center;
  padding: 0 30px;
  font-size: 19px;
  color: black;
  font-weight: 300;
}
.reservation .pink_b {
  place-self: center;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  border-radius: 50px;
  background: linear-gradient(180deg, #FF79DA, #9356dc);
  padding: 15px;
  box-shadow: 0 3px 8px #7e7e7e;
}
.reservation .pink_b:hover {
  background: linear-gradient(180deg, #fc8ad8, #9c6ddc);
  box-shadow: 0 4px 17px #7e7e7e;
  transition-duration: 10s;
}
.reservation h2 {
  color: black;
  place-self: center;
  text-align: center;
  padding: 0 50px;
  font-size: 25px;
}

.function {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
.function h2 {
  margin-bottom: 20px;
}
.function ol {
  display: grid;
  grid-template-rows: repeat(3, 60px);
  grid-gap: 20px;
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .function ol {
    display: flex;
    justify-content: space-around;
  }
}
.function li {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 4px 9px #dddddd;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .function li {
    min-width: 300px;
    place-self: center;
  }
}
.function li:first-child:before {
  display: block;
  background-color: #9356dc;
  content: "1";
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  transform: translate(-50%, 75%);
  color: white;
}
.function li:nth-child(2):before {
  display: block;
  background-color: #9356dc;
  content: "2";
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  transform: translate(-50%, 75%);
  color: white;
}
.function li:nth-child(3):before {
  display: block;
  background-color: #9356dc;
  content: "3";
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  transform: translate(-50%, 75%);
  color: white;
}
.function i {
  width: 50px;
}
.function .font_function {
  color: #7e7e7e;
  margin-left: 15px;
}
.function #taste {
  background-color: #f5edff;
}

#taste .taste03 {
  color: #9356dc;
}

.list_restore {
  padding: 40px 15px 50px 15px;
  background-color: #f6f6f6;
  display: grid;
  grid-template-rows: 50px 300px 300px 300px 300px;
  grid-gap: 10px;
}
@media screen and (min-width: 600px) {
  .list_restore {
    height: 800px;
    place-self: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h2 h2" "card01 card02" "card03 card04";
  }
  .list_restore .item1 {
    grid-area: card01;
  }
  .list_restore .item2 {
    grid-area: card02;
  }
  .list_restore .item3 {
    grid-area: card03;
  }
  .list_restore .item4 {
    grid-area: card04;
  }
}
@media screen and (min-width: 1024px) {
  .list_restore {
    height: 500px;
    place-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2 h2" "card01 card02 card03 card04";
  }
  .list_restore .item1 {
    grid-area: card01;
  }
  .list_restore .item2 {
    grid-area: card02;
  }
  .list_restore .item3 {
    grid-area: card03;
  }
  .list_restore .item4 {
    grid-area: card04;
  }
}

figcaption {
  height: 75px;
  position: relative;
  padding: 10px;
}

h2 {
  padding-left: 7px;
  place-self: normal;
}

figure {
  background-color: white;
  margin: 0 5px 0;
  border-radius: 15px;
  box-shadow: 0 3px 5px #eaeaea;
}
figure img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 220px;
}
figure h3, figure p {
  color: black;
  font-size: 18px;
}

#spinner {
  animation: spin 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

#background_spinner {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  animation: backgroundspin 3s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.heart {
  display: inline-block;
  font-weight: 100;
  color: black;
  position: absolute;
  right: 30px;
  font-size: 23px;
  top: 24px;
  z-index: 500;
}
.heart:hover ~ .heart02 {
  font-weight: bold;
  animation: heart 2s;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #FF79DA, #9356dc);
}

.heart02 {
  display: inline-block;
  font-weight: 100;
  color: black;
  position: absolute;
  right: 30px;
  font-size: 23px;
  top: 24px;
  z-index: -1;
}
.heart02:hover {
  font-weight: bold;
  animation: heart 1s;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #FF79DA, #9356dc);
}

i.heart, i.heart02, i.heart_rest, i.heart_rest02 {
  font-weight: 100;
}

.heart_rest, .heart_rest02 {
  font-size: 20px;
  color: black;
  position: absolute;
  top: 48px;
  right: 31px;
}

.heart_rest {
  z-index: 500;
}
.heart_rest:hover ~ .heart_rest02 {
  font-weight: bold;
  animation: heart 2s;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #FF79DA, #9356dc);
}

.heart_rest02 {
  z-index: -2;
}
.heart_rest02:hover {
  font-weight: bold;
  animation: heart 2s;
  animation-fill-mode: forwards;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(180deg, #FF79DA, #9356dc);
}

.figcaption_new::after {
  content: "Nouveau";
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: -205px;
  right: 0;
  bottom: 0;
  left: 70%;
  padding: 7px 12px;
  border-radius: 2px;
  height: 35px;
  width: 90px;
}

.figure_re {
  position: relative;
}

#footer {
  background-color: #353535;
  padding: 20px;
  margin-bottom: 30px;
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer li {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 14px;
}
#footer h1 {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.footer_icone {
  width: 25px;
}

/*# sourceMappingURL=style.css.map */
