@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

h1 {
  font-family: 'Shrikhand', cursive;
}

a, p, li, h2, h3 {
  font-family: 'Roboto', Helvetica, sans-serif;
}

.title_rest {
  font-family: 'Shrikhand', cursive;
}