$color-verylightgrey: rgb(246, 246, 246);
$color-lightgrey: rgb(234, 234, 234);
$color-grey: rgb(126, 126, 126);
$color-primary: #9356dc;
$color-primarylighter: #9c6ddc;
$color-secondary: #FF79DA;
$color-secondarylighter: #fc8ad8;
$color-tertiary: #99E2D0;
$color-tertiarydarker: rgb(0, 135, 102);
$color-footer: rgb(53, 53, 53);
$color-lightpink: rgb(245, 237, 255);