
.figcaption_new::after {
  content: "Nouveau";
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: -205px;
  right: 0;
  bottom: 0;
  left: 70%;
  padding: 7px 12px;
  border-radius: 2px;
    height: 35px;
    width: 90px;
}

.figure_re {
  position: relative;
}