
.figcaption_new::after {
  content: "Nouveau";
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  top: -205px;
  left: 70%;
  padding: 7px 12px;
  border-radius: 2px;


}

.figure_re {
  position: relative;
}